PORT=3000
SOLANA_RPC_URL=https://api.devnet.solana.com
MAGICBLOCK_PAYMENTS_URL=https://payments.magicblock.app
MAGICBLOCK_TEE_URL=https://devnet-tee.magicblock.app
MAGICBLOCK_TEE_WS_URL=wss://tee.magicblock.app
MAGICBLOCK_TEE_CHALLENGE_PATH=/challenge
MAGICBLOCK_TEE_AUTH_PATH=/authenticate
CLUSTER=devnet
USDC_MINT=
VALIDATOR=
SENDER_KEYPAIR_PATH=./keypairs/01.json
VERIFY_TEE=false
